<section class="adventure" style="height: 1131px;">
      <div class="adventure-wrap" style="height: 754px;">
        <div class="adventure__title">ADVENTURE</div>
        <div class="adventure-con">
          <div data-v-3d1a4f76="" dir="ltr" class="slick-slider slick-initialized">
            <button data-v-21137603="" data-v-3d1a4f76="" type="button" data-role="none" class="slick-arrow slick-prev" style="display: block;">Previous</button>
            <div data-v-3d1a4f76="" class="slick-list">
              <div data-v-e4caeaf8="" data-v-3d1a4f76="" class="slick-track" style="width: 11674px; opacity: 1;">
                <div data-v-e4caeaf8="" tabindex="-1" data-index="0" aria-hidden="false" class="slick-slide slick-active slick-current" style="outline: none; width: 898px; position: relative; left: 0px; opacity: 1; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
                  <div data-v-e4caeaf8="">
                    <section class="adventure1 ko" tabindex="-1" data-v-e4caeaf8="" style="width: 100%; display: inline-block;">
                      <div class="adventure1__bg">
                        <div class="adventure1__bg--1" style="visibility: hidden; opacity: 0; transform: matrix(0.8, 0, 0, 0.8, 0, -200);"></div>
                        <div class="adventure1__bg--2" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, 200);"></div>
                      </div>
                      <div class="adventure__contents adventure1__contents">
                        <div class="adventure__txt-con adventure1__txt-con">
                          <h2 class="adventure__tit adventure1__tit" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);">
                            UNIVERSE ORIGINALS
                            <div class="desc">
                              매일 새로운 콘텐츠 - MV, 예능, 화보, 라디오
                            </div>
                          </h2>
                        </div>
                        <div class="adventure1__obj-con">
                          <div class="adventure1__obj adventure1__obj--2 start" style="">
                            <span></span>
                          </div>
                          <div class="adventure1__obj adventure1__obj--3 start" style=""
                          ><span></span>
                          </div>
                          <div class="adventure1__obj adventure1__obj--4 start" style="">
                            <span></span>
                          </div>
                          <div class="adventure1__obj adventure1__obj--5 start" style="">
                            <span></span>
                          </div>
                          <div class="adventure1__obj adventure1__obj--1" style="opacity: 0; transform: matrix(1.2, 0, 0, 1.2, 0, 0);">
                            <span>
                              <span class="adventure1__obj--1-1"></span>
                              <span class="adventure1__obj--1-2"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div data-v-e4caeaf8="" tabindex="-1" data-index="1" aria-hidden="true" class="slick-slide" style="outline: none; width: 898px; position: relative; left: -898px; opacity: 0; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
                  <div data-v-e4caeaf8="">
                    <section class="adventure6 ko" tabindex="-1" data-v-e4caeaf8="" style="width: 100%; display: inline-block;">
                      <div class="adventure6__bg">
                        <div class="adventure6__bg-obj" style="transform: matrix(0.06536, -0.74714, 0.74714, 0.06536, -150, -200); opacity: 0;">
                          <div class="adventure6__bg--1">
                            <div class="adventure6__bg--2"></div>
                          </div>
                        </div>
                      </div>
                      <div class="adventure__contents adventure6__contents">
                        <div class="adventure6__txt-con">
                          <h2 class="adventure__tit adventure6__tit" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);">
                            <div class="desc">직접 만든 콘텐츠로 받는 혜택</div>
                            CONTENT CREATOR
                          </h2>
                        </div>
                        <div class="adventure6__obj">
                          <div class="adventure6__obj-1" style="opacity: 0; transform: matrix(0.5, 0, 0, 0.5, 0, 0);"></div>
                          <div class="adventure6__obj-2">
                            <div></div>
                            <div></div>
                            <div></div>
                          </div>
                        </div>
                        <div class="adventure6__phone start" style="opacity: 0;">
                          <div class="adventure6__phone-con">
                            <div class="adventure6__phone-bg" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                            <div class="adventure6__phone-back"></div>
                            <div class="adventure6__phone-controller"></div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div data-v-e4caeaf8="" tabindex="-1" data-index="2" aria-hidden="true" class="slick-slide" style="outline: none; width: 898px; position: relative; left: -1796px; opacity: 0; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
                  <div data-v-e4caeaf8="">
                    <section class="adventure3 ko" tabindex="-1" data-v-e4caeaf8="" style="width: 100%; display: inline-block;">
                      <div class="adventure3__bg">
                        <div class="adventure3__bg--1" style="visibility: hidden; opacity: 0; transform: matrix(0.73135, -0.682, 0.682, 0.73135, 300, -300);"></div>
                        <div class="adventure3__bg--2" style="visibility: hidden; opacity: 0; transform: matrix(0.70711, -0.7071, 0.7071, 0.70711, -100, 100);"></div>
                        <div class="adventure3__bg--3" style="opacity: 0; transform: matrix(0.70711, -0.7071, 0.7071, 0.70711, 0, 100);"></div>
                        <div class="adventure3__bg--4" style="opacity: 0; transform: matrix(0.70711, -0.7071, 0.7071, 0.70711, 0, 100);"></div>
                        <div class="adventure3__bg--5" style="visibility: hidden; opacity: 0; transform: matrix(0.70711, -0.7071, 0.7071, 0.70711, -150, 150);"></div>
                      </div>
                      <div class="adventure__contents adventure3__contents">
                        <div class="adventure3__txt-con">
                          <h2 class="adventure__tit adventure3__tit" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);">
                            <div class="desc">아티스트와<br> 함께 공유하는</div>
                            FAN NETWORK
                            <span class="br_pc"></span>
                            SERVICE
                          </h2>
                        </div>
                        <div class="adventure3__phone adventure3__phone-2 full2" style="opacity: 0;">
                          <div class="adventure3__phone-con">
                            <div class="adventure3__phone-bg"></div>
                          </div>
                        </div>
                        <div class="adventure3__phone adventure3__phone-1 full" style="opacity: 0;">
                          <div class="adventure3__phone-con">
                            <video id="videoAdventure3" muted="muted" loop="loop" playsinline="">
                              <source src="https://vod-cdn.universe-official.io/universe/yeoreum_self_wjsn.mp4" type="video/mp4">
                            </video>
                            <div class="adventure3__phone-like-con">
                              <div class="adventure3__phone-like" style="opacity: 0;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div data-v-e4caeaf8="" tabindex="-1" data-index="3" aria-hidden="true" class="slick-slide" style="outline: none; width: 898px; position: relative; left: -2694px; opacity: 0; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
                  <div data-v-e4caeaf8="">
                    <section class="adventure4 ko" tabindex="-1" data-v-e4caeaf8="" style="width: 100%; display: inline-block;">
                      <div class="adventure4__bg">
                        <div class="adventure4__bg-obj" style="opacity: 0; transform: matrix(0.75, 0, 0, 0.75, 0, 0);">
                          <div class="adventure4__bg--1">
                            <div class="adventure4__bg--2"></div>
                          </div>
                        </div>
                      </div>
                      <div class="adventure__contents adventure4__contents">
                        <div class="adventure4__txt-con">
                          <h2 class="adventure__tit adventure4__tit" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);">
                            STUDIO
                            <div class="desc">
                              아티스트가 직접 참여한 모션 캡쳐로<br> MV제작과 캐릭터 스타일링까지
                            </div>
                          </h2>
                        </div>
                        <div class="adventure4__obj-con">
                          <div class="adventure4__obj adventure4__obj--1" style="opacity: 0; transform: matrix(1.5, 0, 0, 1.5, 0, 0);">
                            <span></span>
                          </div>
                          <div class="adventure4__obj adventure4__obj--2" style="opacity: 0; transform: matrix(1.5, 0, 0, 1.5, -100, -100);">
                            <span></span>
                          </div>
                          <div class="adventure4__obj adventure4__obj--3" style="opacity: 0; transform: matrix(1.5, 0, 0, 1.5, 100, -100);">
                            <span></span>
                          </div>
                          <div class="adventure4__obj adventure4__obj--4" style="opacity: 0; transform: matrix(1.5, 0, 0, 1.5, -100, 100);">
                            <span></span>
                          </div>
                          <div class="adventure4__obj adventure4__obj--5" style="opacity: 0; transform: matrix(1.5, 0, 0, 1.5, 100, 100);">
                            <span></span>
                          </div>
                        </div>
                        <div class="adventure4__phone full">
                          <div class="adventure4__phone-con">
                            <video id="videoAdventure4" muted="muted" loop="loop" playsinline="">
                              <source src="https://vod-cdn.universe-official.io/universe/MONSTA X_cut.mp4" type="video/mp4">
                            </video>
                            <div class="adventure4__phone-state">나만의 뮤직비디오를 만들어 보세요.</div>
                            <div class="adventure4__phone-bar">
                              <div class="adventure4__phone-pointer" style="left: 0px;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div data-v-e4caeaf8="" tabindex="-1" data-index="4" aria-hidden="true" class="slick-slide" style="outline: none; width: 898px; position: relative; left: -3592px; opacity: 0; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
                  <div data-v-e4caeaf8="">
                    <section class="adventure2 ko" tabindex="-1" data-v-e4caeaf8="" style="width: 100%; display: inline-block;">
                      <div class="adventure2__bg">
                        <div class="adventure2__bg--1" style="visibility: hidden; opacity: 0; transform: matrix(1.2, 0, 0, 1.2, -200, 0);"></div>
                        <div class="adventure2__bg--2" style="visibility: hidden; opacity: 0; transform: matrix(1.1, 0, 0, 1.1, 200, 0);"></div>
                      </div>
                      <div class="adventure__contents adventure2__contents">
                        <div class="adventure2__txt-con">
                          <h2 class="adventure__tit adventure2__tit" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);">
                            <div class="desc">
                              팬덤활동을<br> 기록하고 보상도 받는
                            </div>
                            COLLECTION
                          </h2>
                        </div>
                        <div class="adventure2__obj adventure2__obj--1" style="opacity: 0; transform: matrix(1, 0, 0, 1, -300, 0);"></div>
                        <div class="adventure2__obj adventure2__obj--2" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 300);"></div>
                        <div class="adventure2__phone start" style="opacity: 0;"></div>
                      </div>
                    </section>
                  </div>
                </div>
                <div data-v-e4caeaf8="" tabindex="-1" data-index="5" aria-hidden="true" class="slick-slide" style="outline: none; width: 898px; position: relative; left: -4490px; opacity: 0; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
                  <div data-v-e4caeaf8="">
                    <section class="adventure5 ko" tabindex="-1" data-v-e4caeaf8="" style="width: 100%; display: inline-block;">
                      <div class="adventure5__bg">
                        <div class="adventure5__bg--1" style="opacity: 0; transform: matrix(1, 0, 0, 1, -400, -400);"></div>
                        <div class="adventure5__bg--2" style="opacity: 0; transform: matrix(1, 0, 0, 1, -600, 400);"></div>
                        <div class="adventure5__bg--3" style="opacity: 0; transform: matrix(1, 0, 0, 1, 600, 400);"></div>
                        <div class="adventure5__bg--4" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, -400);"></div>
                        <div class="adventure5__bg--5" style="opacity: 0; transform: matrix(1, 0, 0, 1, 400, -400);"></div>
                        <div class="adventure5__bg--6" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 400);"></div>
                      </div>
                      <div class="adventure__contents adventure5__contents">
                        <div class="adventure5__txt-con">
                          <h2 class="adventure__tit adventure5__tit" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);">
                            <div class="desc">아티스트와 더 가까워지는</div>
                            PRIVATE MESSAGE · CALL
                          </h2>
                        </div>
                        <div class="adventure5__obj">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                        <div class="adventure5__phone start" style="opacity: 0;">
                          <div class="adventure5__phone-con">
                            <div class="adventure5__phone-bg"></div>
                            <div class="adventure5__phone-state"></div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
            <button data-v-21137603="" data-v-3d1a4f76="" type="button" data-role="none" class="slick-arrow slick-next" style="display: block;">Next</button>
            <ul data-v-3d1a4f76="" class="slick-dots" style="display: block;">
              <li class="slick-active">
                <button>1</button>
              </li>
              <li class="">
                <button>2</button>
              </li>
              <li class="">
                <button>3</button>
              </li>
              <li class="">
                <button>4</button>
              </li>
              <li class="">
                <button>5</button>
              </li><li class="">
              <button>6</button>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </section>