<section class="section intro">
  <div class="intro__bg" style="height: 696px;">
    <div data-v-3d1a4f76="" class="slick-slider slick-initialized">
      <div data-v-3d1a4f76="" class="slick-list">
        <div data-v-e4caeaf8="" data-v-3d1a4f76="" class="slick-track" style="width: 898px; opacity: 1;">
          <div data-v-e4caeaf8="" tabindex="-1" data-index="0" aria-hidden="false" class="slick-slide slick-active slick-current" style="outline: none; width: 898px; position: relative; left: 0px; opacity: 1; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
            <div data-v-e4caeaf8="">
              <div data-v-e4caeaf8="" data-key="0" data-is-movie="true" tabindex="-1" class="intro__video-con" style="width: 100%; display: inline-block;">
                <video data-v-e4caeaf8="" src="https://vod-cdn.universe-official.io/universe/headline_star_960x540_2_1.mp4" muted="muted" playsinline=""></video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---->
  </div>
  <div class="section__contents intro__contents">
    <div class="intro__logo">
      <div class="intro__logo-inner" style="opacity: 1; transform: translate3d(0px, -8.12506px, 0px) scale(1, 0.995417);">
        <div class="intro__logo--2"></div><div class="intro__logo--1" style="opacity: 0.446677;"></div>
      </div>
    </div>
    <h2 class="intro__logo-txt">
      <span style="opacity: 0.634106;">U</span>
      <span style="opacity: 0.791546;">N</span>
      <span style="opacity: 0.703226;">I</span>
      <span style="opacity: 0.634106;">V</span>
      <span style="opacity: 0.703226;">E</span>
      <span style="opacity: 0.604666;">R</span>
      <span style="opacity: 0.929786;">S</span>
      <span style="opacity: 0.604666;">E</span>
    </h2>
    <div class="intro__desc">
          <span style="color:gray">For Fans, With Artists</span><br><strong><span>UNIVERSE</span>에서 오늘도 만나!<strong></strong></strong>
        </div>
      </div>
      <div class="intro__btn-con" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
        <a href="https://play.google.com/store/apps/details?id=com.ncsoft.universeapp" target="_blnak" class="intro__btn intro__btn--google">googleplay</a>
        <a href="https://apps.apple.com/kr/app/id1515427473" target="_blnak" class="intro__btn intro__btn--app">appstore</a>
      </div>
      <div class="intro__skip-btn" style="visibility: inherit; opacity: 0.4; transform: matrix(1, 0, 0, 1, 0, 0);">skip</div>
    </section>
    <div class="section">
      <input type="radio" name="slide" id="slide01" checked>
      <input type="radio" name="slide" id="slide02">
      <input type="radio" name="slide" id="slide03">

      <div class="slidewrap">
        <ul class="slidelist">
          <li>
            <a>
              <label for="slide03" class="left"></label>
              <img src="">
              <label for="slide02" class="right"></label>
            </a>
          </li>
          <li>
            <a>
              <label for="slide01" class="left"></label>
              <img src="">
              <label for="slide03" class="right"></label>
            </a>
          </li>
          <li>
            <a>
              <label for="slide02" class="left"></label>
              <img src="">
              <label for="slide01" class="right"></label>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="layer-wrap"><!----></div>
    <div class="aside hide"><button class="aside__btn aside__btn--top">TOP</button></div>
    <div class="landscape">
      <div class="landscape__wrap">
        <span class="landscape__phone v"></span>
        <span class="landscape__phone h">
          <span class="w"></span>
        </span>
        <span class="landscape__arrow"></span>
      </div>
      <p class="landscape__msg">가로모드를 지원하지 않습니다.<br> 휴대폰을 세로로 세워서 확인해 주세요.</p>
    </div>